@mixin flexContainer ($dir: row, $justify: false, $align: false, $gap: false) {
  display: flex;
  flex-direction: $dir;
  @if ($justify) {
    justify-content: $justify;
  }
  @if ($align) {
    align-items: $align;
  }
  @if ($gap) {
    gap: $gap;
  }
}

@mixin indents($padding: 0, $margin: 0) {
  margin: $margin;
  padding: $padding;
}